@keyframes flash-ani {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

/* Unused */
.flash-ani {
    animation-name: flash-ani;
    animation-duration: var(--ani-time);
}

.fadeIn {
    opacity: 1 !important;
    visibility: visible !important;

}

/* Use this CSS class to opt in for the fade in animation */
.fade {
    opacity: 0 !important;
    visibility: hidden !important;
}

