.announcements-bar {
    margin-top: 25px;
}

.announcements-bar ul {
    border-bottom: 2px solid var(--border-color);
    display: flex;
    align-items: center;
    width: 100%;
}

.announcements-bar li {
    user-select: none;
    height: 25px;
    list-style-type: none;
}

.announcements {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.announcements div {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid var(--border-color);
    list-style-type: none;
}
